body {
    background-color: #FED39F;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: maroon;
    border-width: 5px;
    width: 5%;
  }

  h1 {
    color: #678A74;
  }

  h3 {
    color: #66BFBF;
  }